.search-page {
    padding: 10rem 0;
    .search-input {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        font-size: 1.6rem;
        color: #fff;
        z-index: 200;
        width: 100%;
        border: none;
        outline: none;
        padding: 2rem;        
    }
}