html {
  font-size: 62.5%;
}

body {
  background-color: #141414;
  padding: 10rem 5rem;
  font-family: 'Martel Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (max-width: 600px){
    padding: 10rem 1rem;    
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
